<!doctype html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HW-Scraper</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body class="bg-dark text-white container mt-5">
    <div class="d-flex flex-column align-items-center">
        <h1>HW Scraper</h1>
        <div>
            There is <b><%= data.products.length %></b> product, with total of <b><%= data.products?.reduce((prevData, p) => prevData + p.product_variants.length, 0) %></b> variants.
        </div>
        <a class="my-4" href="./shops/scrape" target="_blank">Scrape products</a>
        <a class="my-4" href="./products" target="_blank">Show all products</a>
    </div>

    <div class="row">
        <div class="mx-auto mt-5 col-10 col-lg-auto border p-5 rounded-3">
            <form class="d-flex gap-2 flex-column justify-content-center h-100">
                <div>
                    <label for="id" class="form-label">Product id:</label>
                    <input type="number" class="form-control" id="id" placeholder="Product id">
                </div>
                <button id="byId" type="button" class="btn btn-primary mt-auto">Search</button>
            </form>
        </div>

        <div class="mx-auto mt-5 col-10 col-lg-auto border p-5 rounded-3">
            <form class="d-flex gap-2 flex-column justify-content-center h-100">
                <div>
                    <label for="name" class="form-label">Search for:</label>
                    <input type="text" class="form-control" id="name" placeholder="Product name">
                </div>
                <div>
                    <label for="shop" class="form-label">Shop:</label>
                    <select class="form-control" id="shop">
                        <% data.shops.forEach(shop => { %>
                            <option value='<%= shop %>'><%= shop %></option>
                        <% }); %>
                    </select>
                </div>
                <div>
                    <label for="priceLimit" class="form-label">Price limit: </label>
                    <input type="number" value="999999" class="form-control" id="priceLimit" placeholder="Price limit">
                </div>
                <button id="byParams" type="button" class="btn btn-primary mt-auto">Search</button>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
</body>
<script>
    $(document).ready(()=>{
        $('#byId').click(()=>{
            window.open(`http://localhost:3000/products/${$('#id').val() ?? 1}`, '_blank');
        });
        $('#byParams').click(()=>{
            const name = $('#name').val();
            const shop = $('#shop').val();
            const priceLimit = $('#priceLimit').val();
            window.open(
                `http://localhost:3000/products/search/${name.length ? name : ' '}&${shop.length ? shop : ' '}&${priceLimit.length ? priceLimit : 9999999}`,
                '_blank'
            );
        });
    })
</script>
</html>