<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HW-Scraper | Scraped products overview</title>
</head>
<body>
<h1>There was <%= data.products.length %> product in total.</h1>

<div>
    <% data.products.map((product) => { %>
        <div>
            <h4><%= product.name %></h4>
            <ul>
                <% product.product_variants.map((variant) => { %>
                    <li>
                        <%= variant.name %>
                    </li>
                <% }) %>
            </ul>
        </div>
    <% }) %>
</div>

</body>
</html>